@using PagedList
@using PagedList.Mvc

@model IPagedList<LevelTwo.MVC.Models.CategoryVM>

@{
	ViewBag.Title = "CategoriesList";
}

<h2>CategoriesList</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken();
	<div class="form-group">
		<label class="control-label col-sm-1">Search:</label>
		<input class="form-control" type="text" name="search" value="@ViewBag.search" placeholder="search" />
	</div>
}
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			Name
		</th>
		<th>
			Description
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>

<div>
	@Html.PagedListPager(Model, page => Url.Action("CategoriesList", new
{
	page,
	ViewBag.search
}))
</div>
